body {
  background-color: #F8F7FF;
  text-align: center;
  font-family: fantasy;
}

.secret {
	opacity: 0.5;
}

ul {
	list-style-type: none;
}

table, th, td {
	border: solid gray 1px;
	margin: 0 auto;
}
